     @font-face {
         font-family: "OpenSans-Bold";
         src: url(/fonts/OpenSans-Bold.woff);
         font-weight: 700;
         font-style: normal;
     }
     
     body {
         min-width: 320px;
         margin: 0;
         padding: 0;
     }
     
     ul {
         padding: 0;
         margin: 0;
     }
     
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
         padding: 0;
         margin: 0;
     }
     
     .header {
         position: relative;
         width: 100%;
         background-image: url(/img/banner-mobile.jpg);
         background-position: center;
         background-size: cover;
         height: 600px;
     }
     
     .header::before {
         position: absolute;
         content: "";
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: black;
         opacity: 0.6;
     }
     
     .header__content {
         position: relative;
         display: flex;
         justify-content: center;
         flex-direction: column;
         width: 90%;
         margin: 0 5% 0 5%;
         padding: 0 0 200px 0;
     }
     
     .header__menu {
         position: relative;
         width: 23px;
         height: 20px;
         align-self: flex-end;
         margin-top: 25px;
     }
     
     .header__logo {
         width: 80%;
         margin: 170px 10% 0 10%;
     }
     
     .header__title {
         position: relative;
         margin-top: 30px;
         text-align: center;
         font-size: 140%;
         line-height: 36px;
         text-transform: uppercase;
         font-weight: 700;
         font-family: "OpenSans-Bold", arial, serif;
         font-style: normal;
         color: white;
     }