     @font-face {
         font-family: "OpenSans-Bold";
         src: url(/fonts/OpenSans-Bold.woff);
         font-weight: 700;
         font-style: normal;
     }
     
     @font-face {
         font-family: "OpenSans-Regular";
         src: url(/fonts/OpenSans-Regular.woff);
         font-weight: 400;
         font-style: normal;
     }
     
     body {
         min-width: 320px;
         margin: 0;
         padding: 0;
     }
     
     ul {
         padding: 0;
         margin: 0;
         list-style-type: none;
     }
     
     a {
         text-decoration: none;
     }
     
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
         padding: 0;
         margin: 0;
     }
     
     p {
         margin: 0;
         padding: 0;
     }
     
     input {
         border: none;
     }
     
     input:focus {
         outline: none;
     }
     
     button {
         border: none;
     }
     
     button:focus {
         outline: none;
     }
     
     .header {
         position: relative;
         width: 100%;
         height: 100vh;
         background-image: url(../img/banner-mobile.jpg);
         background-position: center;
         background-size: cover;
         padding-bottom: 10%;
     }
     
     @media (min-width: 500px) {
         .header {
             padding-bottom: 50%;
         }
     }
     
     .header::before {
         position: absolute;
         content: "";
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: black;
         opacity: 0.6;
     }
     
     .header__content {
         position: relative;
         display: flex;
         flex-direction: column;
         width: 90%;
         margin: 0 5% 0 5%;
     }
     
     .header__menu {
         position: relative;
         width: 10%;
         height: 20px;
         align-self: flex-end;
         margin-top: 25px;
     }
     
     .header__logo {
         justify-self: center;
         width: 80%;
         margin: 70% 10% 0 10%;
     }
     
     .header__title {
         position: relative;
         margin-top: 30px;
         text-align: center;
         font-size: 140%;
         line-height: 36px;
         text-transform: uppercase;
         font-weight: 700;
         font-family: "OpenSans-Bold", arial, serif;
         font-style: normal;
         color: white;
     }
     
     .main {
         width: 100%;
     }
     
     .main__heading {
         position: relative;
         margin-top: 10%;
         font-family: "OpenSans-Bold", arial, serif;
         font-weight: 700;
         font-style: normal;
         text-align: center;
         text-transform: uppercase;
         font-size: 60%;
     }
     
     .main__heading--title::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         width: 20%;
         margin: 0 auto 0 auto;
         padding-bottom: 8%;
         border-bottom: 3px solid #e1d9bd;
     }
     
     .main__content {
         color: white;
         text-transform: uppercase;
         font-family: "OpenSans-Bold", arial, serif;
         font-weight: 700;
         font-style: normal;
     }
     
     .main__post {
         margin-top: 10%;
     }
     
     .main__post--first {
         position: relative;
         background-image: url(../img/trend1.jpg);
         background-position: center bottom;
         background-size: cover;
         padding: 25% 3% 5% 3%;
     }
     
     .main__post--first::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background: #000;
         opacity: 0.6;
     }
     
     .main__info {
         position: relative;
         width: 90%;
         padding: 7% 0 7% 5%;
         margin: 0 auto 0 auto;
         border: 3px solid rgba(105, 92, 54, 1);
         font-size: 10px;
     }
     
     .main__tags {
         display: flex;
         flex-wrap: wrap;
         font-size: 14px;
         text-transform: uppercase;
         font-family: "OpenSans-Bold", arial, serif;
         font-weight: 700;
     }
     
     .main__tags--link {
         display: block;
         margin-right: 7%;
         color: #a59251;
     }
     
     .main__title {
         margin-top: 4%;
     }
     
     .main__post--second {
         position: relative;
         background-image: url(../img/trend2.jpg);
         background-position: center bottom;
         background-size: cover;
         padding: 27% 3% 5% 3%;
         margin-top: 1%;
     }
     
     .main__post--second::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background: #000;
         opacity: 0.6;
     }
     
     .main__post--third {
         position: relative;
         background-image: url(../img/trend3.jpg);
         background-position: center bottom;
         background-size: cover;
         padding: 27% 3% 5% 3%;
         margin-top: 1%;
     }
     
     .main__post--third::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background: #000;
         opacity: 0.6;
     }
     
     .main__post--fourth {
         position: relative;
         background-image: url(../img/trend4.jpg);
         background-position: center bottom;
         background-size: cover;
         padding: 27% 3% 5% 3%;
         margin-top: 1%;
     }
     
     .main__post--fourth::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background: #000;
         opacity: 0.6;
     }
     
     .news {
         width: 100%;
         margin-top: 10%;
     }
     
     .news__post {
         position: relative;
         width: 90%;
         margin: 0 auto 0 auto;
         padding-bottom: 7%;
     }
     
     .news__post:nth-child(n+2) {
         margin-top: 10%;
     }
     
     .news__post::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         border-bottom: 3px solid #eeeeee;
         margin-top: 5%;
     }
     
     .news__img {
         width: 100%;
         height: 100%;
     }
     
     .news__tags {
         display: flex;
         flex-wrap: wrap;
         margin-top: 1%;
         font-size: 14px;
         text-transform: uppercase;
         font-family: "OpenSans-Bold", arial, serif;
         font-weight: 700;
         font-style: normal;
     }
     
     .news__tags--link {
         display: block;
         margin-right: 5%;
         color: #b59f5b;
     }
     
     .news__title {
         margin-top: 1%;
         font-family: "OpenSans-Bold", arial, serif;
         font-weight: 700;
         font-style: normal;
         text-transform: uppercase;
         font-size: 14px;
     }
     
     .news__data-autor {
         display: flex;
         flex-wrap: wrap;
         margin-top: 3%;
         font-size: 12px;
     }
     
     .news__data {
         margin-right: 3%;
         font-family: "OpenSans-Regular", arial, serif;
         font-weight: 400;
         font-style: normal;
         color: #888888;
     }
     
     .news__autor {
         font-family: "OpenSans-Bold", arial, serif;
         font-weight: 700;
         font-style: normal;
     }
     
     .news__text {
         display: block;
         margin-top: 3%;
         font-family: "OpenSans-Regular", arial, serif;
         font-weight: 400;
         font-style: normal;
         font-size: 78%;
     }
     
     .newpost {
         width: 100%;
         margin-top: 10%;
     }
     
     .newpost__point {
         width: 90%;
         margin: 0 auto 0 auto;
     }
     
     .newpost__point:nth-child(n+2) {
         margin-top: 5%;
     }
     
     .newpost__line {
         display: flex;
     }
     
     .newpost__image {
         display: block;
         width: 70px;
         height: 70px;
     }
     
     .newpost__info {
         margin-left: 5%;
     }
     
     .newpost__data {
         font-family: "OpenSans-Regular", arial, serif;
         font-weight: 400;
         font-style: normal;
         color: #888888;
         font-size: 12px;
     }
     
     .newpost__title {
         margin-top: 2%;
         font-family: "OpenSans-Bold", arial, serif;
         font-weight: 700;
         font-style: normal;
         text-transform: uppercase;
         font-size: 75%;
     }
     
     .search {
         width: 100%;
         margin-top: 12%;
     }
     
     .search__line {
         width: 90%;
         margin: 0 auto 0 auto;
     }
     
     .search__field {
         width: 75%;
         height: 50px;
         margin: 0 auto 0 auto;
         padding: 0 2% 0 2%;
         background: #f4f7f6;
     }
     
     .search__button {
         width: 50px;
         height: 50px;
         margin-left: -1.5%;
     }
     
     .button__text {}